<!DOCTYPE html>
<html>
<head>
  <title>ePatterns: Your Online Patterns Market</title>
  <%= stylesheet_link_tag "scaffolds" %>
  <%= stylesheet_link_tag "epatterns", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="market">
  <div id="banner">
    <%= @page_title || "▲▲ ePatterns ▲▲" %>
  </div>
  <div id="columns">
    <div id="side">
      <%= link_to "Home", market_path %><br />
      <%= link_to "About", "https://github.com/fern4lvarez/epatterns" %><br />
      <a href="#" >Contact</a><br />
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
